// common variables so one can edit them in one place only...

$header_color: white;
$header_height: 50px;

$theme-colors: (
  "background_color": wheat,
);

$gray_0: #e8e8e8;
$gray_1: #9c9c9c;
$gray_2: #818181;
